{% extends "base.html" %}

{% block main %}
    <h1>Liste des livres</h1>
    <p>Nombre de livre : {{ livres|length }}</p>
    {% if livres|length == 0 %}
    <p>Aucun livre trouvé.</p>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Prix</th>
                <th>Titre</th>
                <th>Url</th>
                <th>Img</th>
                <th>auteur</th>
                <th>action possible</th>
            </tr>
        </thead>
        <tbody>
        {% for unLivre in livres %}
            <tr>
                <td>{{ unLivre.idL }}</td>
                <td>{{ unLivre.Prix }}</td>
                <td>{{ unLivre.Titre }}</td>
                <td><a href="{{unLivre.Url}}">{{unLivre.Url}}</a></td>
                <td> <img src="../static/images/{{unLivre.Img}}" alt="bonjour"></td>
                <td>{{ unLivre.auteur.Nom }}</td>
                <td><div class="task-controls">
                <a href="{{ url_for('viewLivre', idL=unLivre.idL) }}" class="btn btn-nfo">Voir <i class="fas fa-eye"></i></a>
                {% if current_user.is_authenticated %}    
                <a href="{{ url_for('updateLivre', idL=unLivre.idL) }}" class="btn btn-warning">Editer <i class="fas fa-pen"></i></a>
                {% endif %}
                </div>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}