{% extends "base.html" %}
{% block main %}
    <h1 >Consultation du livre {{ selectedLivre.Nom }}</h1>
    <form role="form" method="POST" action="">
    {{ viewForm.hidden_tag () }}
    <div class="form-group mb-3">
    {{ viewForm.titre.label }}
    {{ viewForm.titre(size=50, disabled=True, class_="form-control") }}
    {{ viewForm.prix.label }}
    {{ viewForm.prix(size=50, disabled=True, class_="form-control") }}
    {{ viewForm.auteur.label }}
    {{ viewForm.auteur(size=50, disabled=True, class_="form-control") }}
    {{ viewForm.url.label }}
    {{ viewForm.url(size=50, disabled=True, class_="form-control") }}
    {{ viewForm.img.label }}
    {{ viewForm.img(size=50, disabled=True, class_="form-control") }}
    </div>
    <a href="{{ url_for('getLivres') }}" class="btn btn-secondary">Retour</a>
    </form >
{% endblock %}